{~ @_caret = ' <span class="caret"></span>' ~}
{~ @_menu = array(
  'Dashboard' => 'dashboard',
  'Setting'.@_caret => array(
    'roles' => 'ROLE_ADMIN',
    'items' => array(
      'Manage User' => 'users',
    ),
  ),
) ~}
{~ @_config = array(
  'root_attr' => array(
    'class' => 'nav navbar-nav',
  ),
  'parent_attr' => array(
    'class' => 'dropdown',
  ),
  'parent_item_attr' => array(
    'class' => 'dropdown-toggle',
    'data-toggle' => 'dropdown',
    'role' => 'button',
    'aria-haspopup' => 'true',
    'aria-expanded' => 'false',
  ),
  'parent_wrapper_attr' => array(
    'class' => 'dropdown-menu',
  ),
) ~}

{{ @_.menu->build(@_menu, @_.menu_active ?? @_.ALIAS, @_config) }}