<?php

use App\Mapper\User;
use Fal\Stick\Security\Auth;

# TODO: delete this line, if you already include real autoloader (eg: production mode)
include __DIR__.'/vendor/autoload.php';

return array(
    'env_file' => __DIR__.'/app/env.php',
    'commands' => array(),
    'setup' => array(
        'versions' => array(
            'v0.1.0' => array(
                'schemas' => array(
                    __DIR__.'/app/db/010-drop.sql',
                    __DIR__.'/app/db/010-create.sql',
                ),
                'run' => function(User $user, Auth $auth) {
                    $users = array(
                        array(
                            'fullname' => 'Administrator',
                            'username' => 'adminku',
                            'password' => $auth->getEncoder()->hash('admin123'),
                            'roles' => 'Admin',
                        ),
                    );

                    foreach ($users as $data) {
                        $user->reset()->fromArray($data)->save();
                    }
                },
            ),
        ),
    ),
);
