@import 'var';

.error {
  padding: 20px;
  margin: 50px auto;

  h1 {
    font-size: 1.75rem;
    color: color('red');
  }

  pre {
    margin: 30px 10px;
    white-space: pre-wrap;
    overflow: auto;
    font-size: smaller;
    color: gray('700');
    max-height: 400px;
  }

  .home-button {
    margin-top: 30px;
  }
}